.FoodBaverage {
    height: 300px;
    padding-left: 10px;
    padding-right: 10px;
    .FoodBaverage-carousel {
        margin: 0 auto;
        width: 50%;
    }
}
.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #171725;
}